.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 0.2;
    color: black;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}
.sidebar img {
    align-items: center;
    justify-content: center;
}
.sidebar_logo {
    height: 70px;
    padding: 10px;
    object-fit: contain;
}
@media only screen and (max-width: 660px) {
    .sidebar {
        min-width: 100px;
    }
}